body,
#root {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #19181a;
  color: #479461;

  height: 100vh;
}

.login-container,
.about-container,
.profile-container,
.App {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 1.5rem;
}

.profile-container h1 {
  border-bottom: solid 2px #cebc81;
  color: #cebc81;
}
.userInfo {
  color: #a16e83;
}
.about-container h1 {
  color: #cebc81;
}
.nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: #cebc81;
}

.nav a.active {
  color: #479461;
  font-weight: bold;
}
hr {
  margin-bottom: 3rem;
  color: #a16e83;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin: 0.5rem;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #b19f9e,
    #a16e83,
    #cebc81,
    #479461,
    #19181a
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.todo-info,
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form h2 {
  margin-top: 1rem;
  margin-bottom: 0;
}

.todo-input {
  margin-bottom: 1rem;
  height: 30px;
  width: 220px;
  background-color: #19181a;
  border: solid 0.5px #479461;
}

input checkbox {
  background-color: #19181a;
}
.todo-input:focus {
  border-color: #a16e83;
}
.todo-input::placeholder {
  text-align: center;
}

#todo-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* Directly target the checkbox input */
input[type="checkbox"].checkbox-container {
  -webkit-appearance: none; /* Remove default styling for WebKit browsers */
  -moz-appearance: none; /* Remove default styling for Mozilla browsers */
  appearance: none; /* Remove default styling */

  width: 10px;
  height: 10px;
  background-color: #19181a; /* The desired background color */
  border: 1px solid #ddd; /* A border to distinguish the checkbox */
  border-radius: 50%; /* This will make the checkbox circular */
  cursor: pointer; /* Change the cursor to a pointer to indicate it's clickable */
}

/* Style for when the checkbox is checked */
input[type="checkbox"].checkbox-container:checked {
  background-color: #a16e83; /* Change color when checked */
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* This will push the todo and due date to opposite ends */
  padding: 10px 0; /* Add some vertical padding */
  border-bottom: 1px solid #333; /* Add a subtle separator */
}

.todo {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* This creates some space between the checkbox and the todo text */
}

.due {
  font-size: 9px;
  color: #a16e83;
}
